
/*默认样式重置*/
body, div, dl, dt, dd, ul, ol,
li, h1, h2, h3, h4, h5, h6, pre,
code, form, fieldset, legend, input,
textarea, p, blockquote, th, td, hr,
button, article, aside, details, figcaption,
figure, footer, header, hgroup, menu, nav, section ,div
{
    margin: 0;
    padding: 0;
}
ul li,ol li{
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
}

.head{
    width:100%;
    height:60px;
    /*padding:0px  80px;*/
    /*background:#caa;*/
    background:url(../images/bg_header_top.8e4ad71e.png)no-repeat center top;
}
.head_mid{
    width:1200px;
    height:60px;
    /*padding:0px  80px;*/
    /*background:#bbb;*/
    margin:0 auto;
}
.top{
    height: 60px;
    /*background:#bada55;*/
}
.nav{
    width:100%;
    height: 50px;
    /*background:#baaa55;*/
    background:url(../images/bg_header_nav.273090c6.png)no-repeat center top;
}
.logo{
    width:150px;
    height:50px;
    position:absolute;
    top:3px;
    left:120px;
    background:url(../images/bg_logo.57f2873e.png) no-repeat left top;
    float:left;

}
.userInfo{
    width:245px;
    height:24px;
    line-height:24px;
    float:right;
    /*background:pink;*/
    margin-top:18px;
}
.name{
    font-weight:400;
    width:146px;
    height:24px;
    line-height:24px;
    display:inline-block;
    /*border:1px solid #000;*/
    float:left;
}
.mypointlink{
    display:inline-block;
    width:40px;
    height:24px;
    line-height:24px;
    /*border:1px solid #000;*/
    float:left;
}
.notice{
    display:inline-block;
    /*border:1px solid #000;*/
    width:40px;
    height:23px;
    line-height:23px;
    float:left;
}
i{
    font-style:normal;
    display:inline-block;
    float:left;
}
.name .name_icon{
    width:24px;
    height:24px;
    line-height:24px;
    background:url(../images/bg_hotel_icon.22c03206.png) no-repeat;
    background-position:2px -25px;
}
.hello{
    display:inline-block;
    /*border:1px solid #000;*/
    width:65px;
    height:24px;
    line-height:26px;
    vertical-align:middle;
    margin-top:-18px;
    position:relative;
    font-size:12px;
}
.name .diandian{
    width:7px;
    height:7px;
    position:absolute;
    top:1px;
    right:1px;
    background:url(../images/bg_hotel_icon.22c03206.png) -50px -575px no-repeat;

}

.xing{
    display:inline-block;
    width:19px;
    height:24px;
    background:url(../images/bg_hotel_icon.22c03206.png)no-repeat;
    background-position:-100px -550px;

}
.up{
    display:inline-block;
    width:10px;
    height:22px;
    float:left;
    /*line-height:18px;*/
    background:url(../images/bg_hotel_icon.22c03206.png) no-repeat;
    background-position:-32px -303px;
}
.money{
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    background:url(../images/bg_hotel_icon.22c03206.png)no-repeat;
    background-position:-100px 0px;
    /*border:1px solid #000;*/
}
.email{
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    background:url(../images/bg_hotel_icon.22c03206.png)no-repeat;
    background-position: -75px -400px;
}

/*导航*/
.nav_mid{
    width:1200px;
    height:38px;
    /*border:1px solid #000;*/
    margin:0 auto;
}
.navText li a{
    float:left;
    color:white;
    height:38px;
    line-height:38px;
    font-size:14px;
    margin-right:50px;
}
.navText li a:hover{
    height:38px;
    border-bottom:1px solid #fff;
}





